:root {
  --Primary-Brand: #4d5ae5;
  --Pressed-state: #404bbf;
  --dark-NAVY-BLUE: #2e2f42;
  --Success: #31d0aa;
  --Text: #434455;
  --Subtle-Text: #8e8f99;
  --Accent: #e7e9fc;
  --Light: #f4f4fd;
  --Modal-overlay: #2e2f4266;
  --Hero-background: #2e2f42b2;
  --White-background: #ffffff;
  --Modal-background: #fcfcfc;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* mobile */
.container {
  min-width: 320;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--Text);
  background-color: var(--White-background);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link-logo {
  display: flex;
  color: #404bbf;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.link-logo .accent {
  color: var(--dark-NAVY-BLUE);
}

.item-navigation {
  color: var(--dark-NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-navigation a:active {
  color: #404bbf;
}

.menu-navigation a:hover {
  color: #404bbf;
}

.menu-navigation a:focus {
  color: #404bbf;
}

.item-navigation.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--OCEAN, #404bbf);
  display: block;
  width: 100%;
}

.current {
  color: #404bbf;
  position: relative;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts a {
  color: var(--Text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.mailto {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto:active {
  color: var(--Pressed-state);
}

.mailto:hover {
  color: var(--Pressed-state);
}

.mailto:focus {
  color: var(--Pressed-state);
}

.header-div {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu-navigation {
  display: flex;
  gap: 40px;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-icon {
  margin-left: auto;
  border: none;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #fff;
}

@media only screen and (max-width: 767.98px) {
  .header-contacts-list {
    display: none;
  }
  .menu-navigation {
    display: none;
  }
}
@media (min-width: 768px) {
  .header {
    padding: ;
  }

  .header-icon {
    display: none;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (min-width: 1158px) {
  .header {
    padding: 24px 0 24px;
  }
  .header-contacts-list {
    flex-direction: row;
  }
}

/* section1 hero */

.hero {
  background: var(--navyblue, #2e2f42);
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      var(--GREY, rgba(46, 47, 66, 0.7)),
      var(--GREY, rgba(46, 47, 66, 0.7))
    ),
    url(../hero/dark-bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--GREY, rgba(46, 47, 66, 0.7)),
        var(--GREY, rgba(46, 47, 66, 0.7))
      ),
      url(../hero/dark-bg_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--GREY, rgba(46, 47, 66, 0.7)),
        var(--GREY, rgba(46, 47, 66, 0.7))
      ),
      url(../hero/Dark-bg_tablet.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--GREY, rgba(46, 47, 66, 0.7)),
        var(--GREY, rgba(46, 47, 66, 0.7))
      ),
      url(../hero/dark-bg_tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1158px;
    padding: 188px 0;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--GREY, rgba(46, 47, 66, 0.7)),
        var(--GREY, rgba(46, 47, 66, 0.7))
      ),
      url(../hero/people-office1.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--GREY, rgba(46, 47, 66, 0.7)),
        var(--GREY, rgba(46, 47, 66, 0.7))
      ),
      url(../hero/people-office1@2x.jpg);
  }
}

.hero-title {
  color: var(--white, #fff);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 288px;
}

@media (min-width: 768px) {
  .hero-title {
    line-height: 1.07;
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media (min-width: 1158px) {
  .hero-title {
    line-height: 1.07;
    font-size: 56px;
    margin-bottom: 48px;
  }
}

.button {
  font-family: inherit;
  background: var(--iris, #4d5ae5);
  color: var(--White-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* our advantages*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.our-advantages-title {
  color: var(--dark-NAVY-BLUE);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  align-self: stretch;
  text-transform: capitalize;
}

.our-advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-self: stretch;
  color: var(--SLATE, #434455);
}

.icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .our-advantages-list {
    gap: 72px 24px;
  }

  .our-advantages-title {
    text-align: start;
  }

  .our-advantages-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-advantages {
    padding: 120px 0;
  }
  .our-advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .our-advantages-title {
    text-align: start;
  }
  .our-advantages-text {
  }

  .our-advantages-list {
    gap: 24px;
    margin-bottom: 0;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
  }
}

/* our team */

.our-team {
  padding: 96px 0;
  background-color: var(--Light);
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.our-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-title {
  color: var(--dark-NAVY-BLUE);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-name {
  color: var(--dark-NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-info {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.our-team-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-our-team {
  width: 40px;
  height: 40px;
}

.icon-our-team-link {
  display: flex;
  background-color: var(--Primary-Brand);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-our-team-link:hover {
  background-color: var(--Pressed-state);
}

.icon-our-team-link:focus {
  background-color: var(--Pressed-state);
}

.icon-our-team-item {
  fill: var(--Light);
}

@media screen and (min-width: 768px) {
  .our-team-list {
    gap: 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }

  .our-team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .our-team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}

/* our portfolio */

.our-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfolio-title {
  color: var(--dark-NAVY-BLUE);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-portfolio-name {
  color: var(--dark-NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.our-portfolio-direction {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-image {
  position: relative;
  overflow: hidden;
}

.our-portfolio-overlay {
  position: absolute;
  background-color: var(--Primary-Brand);
  color: var(--Light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  top: 0;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover .our-portfolio-overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .our-portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/* footer */

.footer-section {
  background-color: var(--dark-NAVY-BLUE);
  padding: 96px 0;
}

.footer-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 72px;
}

.link-logo-footer {
  color: var(--Primary-Brand);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;

  margin-bottom: 16px;
}

.link-logo-footer .accent {
  color: var(--cloud, #f4f4fd);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  text-align: start;
}

.social-media {
  color: var(--WHITE, #fff);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
}

.footer-icons {
  display: block;
  align-items: flex-start;
  gap: 16px;
}

.icons-footer-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px;
}

.logo-paragraf {
  /* margin-right: 120px; */
}

.our-footer-icon-list {
  display: flex;
  gap: 16px;
}
.icon-footer-item {
  width: 40px;
  height: 40px;
}

.our-footer-icon-link {
  display: flex;
  background-color: var(--Primary-Brand);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-footer-icon-link:hover {
  background-color: var(--Success);
}
.our-footer-icon-link:focus {
  background-color: var(--Success);
}

.our-footer-icon-link:active {
  background-color: var(--Success);
}

.our-footer-icon {
  fill: var(--Light);
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.user-email {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background-color: transparent;
  color: var(--WHITE, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  margin: 0 auto;
}

.twitter {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 72px 24px;
    text-align: start;
  }
  .social-media {
    text-align: left;
  }
  .link-logo-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .subscribe {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
  }

  .footer-conteiner {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer-icons {
    margin-right: 80px;
  }
  .subscribe-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal {
  width: 288px;
  min-height: 623px;
  background: var(--DAIRY, #fcfcfc);
  padding: 72px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: auto;
  flex-shrink: 0;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #fff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  /* padding: 48px 24px 16px; */
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-list {
  margin-bottom: 8px;
}

.label {
  display: block;
  margin-bottom: 4px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input-wrap {
  position: relative;
}

.label-privacy-policy {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--Primary-Brand);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-icon:hover,
.modal-input-icon:focus {
  fill: #4d5ae5;
}

.modal-list-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  min-height: 120px;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover {
  border-color: var(--Primary-Brand);
}

.modal-textarea:focus {
  border-color: var(--Primary-Brand);
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--Subtle-Text);
}

.modal-checkbox {
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-checkbox-label > .modal-checkbox {
  background-color: var(--Pressed-state);
  border: none;
  fill: var(--Light);

  opacity: 1;
}

.modal-checkbox-input {
}

.modal-checkbox-icon {
  stroke-width: 1px;
  opacity: 1;
}

.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 24px 59px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-privacy-policy {
  color: var(--Primary-Brand);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }

  .button-send {
    margin: 24px 120px;
  }
}

@media screen and (min-width: 1158px) {
}

/* end modal */

/* mobile menu */

.menu-conteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 72px 16px 40px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-conteiner.is-open {
  transform: translateX(0);
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-link .current {
  color: var(--OCEAN, #404bbf);
}

.mobile-menu-item:not(last-child) {
  margin-bottom: 40px;
}
.mobile-contacts-list {
  margin-bottom: 48px;
}

.mobile-contacts-link {
  color: var(--IRIS, #4d5ae5);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-contacts-link .accent {
  color: var(--IRIS, #4d5ae5);
}

.mobile-contacts-item:not(last-child) {
  margin-bottom: 24px;
}

.mobile-link {
  display: flex;
  gap: 40px;
  align-items: center;
}
